body {
    margin: 0;
}

.cabecalho > nav > ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;

}

.cabecalho > nav > ul > li {
    padding: 10px;
}

.cabecalho > nav > ul > li > a {
    text-decoration: none;
    color: blue;    
}

.cabecalho > nav > ul > li > a:hover{
    color: tomato;
    font-weight: bolder;
}

@media screen and (max-width: 600px) {
    .cabecalho > nav > ul {
        flex-direction: column;
    }   
}